@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/ico" href="~/Images/HeaderLogo.png" />
    <title> @ViewData["Title"] - IoTWaterloo_JobBoard</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/LayoutStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container-fluid p-0 m-0">
            <div class="Image float-left img-fluid">
                <div class="navbar-expand-md"> </div>
                <!-- <img class="iconeSyle" src="~/Images/iotWaterloo-logo-2.png" />-->
                <nav class="navbar navbar-expand-sm navbar-expand-md navbar-toggleable-sm navbar-light bg-transparent box-shadow mb-3">
                    <div class="text-black-50">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation bg-dark">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="container float-right" style="padding-top:10px; font-size:22px;">
                        <div class="navbar-collapse   container-fluid collapse d-sm-inline-flex flex-sm-row">
                            <!--   <partial name="_LoginPartial" /> -->
                            <ul class="navbar-nav  flex-grow-1">
                                <li>
                                    <a class="nav-link text-white" style="width:180px;" asp-area="" asp-controller="Home" asp-action="Index"> &nbsp;&nbsp;</a>
                                    @*<div class=""></div>*@
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                @*<li class="nav-item  dropdown">
                            <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">Homepage</a>
                            <ul class="dropdown-menu text-white bg-purple border-top" style="background-color:#341646;">
            <li> <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Employers</a></li>
            <li> <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Employers</a></li>
        </ul>
        </li>*@
                                @if ((@Context.Session.GetString("roleid") != null) && (@Context.Session.GetString("roleid").Equals("1")))
                                {

                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="CompanyDetail" asp-action="Index">Employers</a>
                                        <ul class="dropdown-menu text-white bg-purple border-top bgColor" style="background-color:#341646">
                                            <li> <a class="nav-link text-white" asp-area="" asp-controller="CompanyDetail" asp-action="CreateCompany">Create Employers</a></li>
                                            <li> <a class="nav-link text-white" asp-area="" asp-controller="CompanyDetail" asp-action="Index">View Employers</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                if ((@Context.Session.GetString("roleid") != null) && (@Context.Session.GetString("roleid").Equals("2")))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="CompanyDetail" asp-action="Index">Company</a>
                                        <ul class="dropdown-menu text-white bg-purple border-top bgColor" style="background-color:#341646">
                                            <li> <a class="nav-link text-white" asp-area="" asp-controller="CompanyDetail" asp-action="Profile">Profile Update</a></li>
                                           
                                        </ul>
                                    </li>
                                }

                                @if ((@Context.Session.GetString("roleid") != null) && (@Context.Session.GetString("roleid").Equals("1") || @Context.Session.GetString("roleid").Equals("2")))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">Job Post</a>
                                        <ul class="dropdown-menu text-white bg-purple border-top bgColor" style="background-color:#341646">
                                            <li> <a class="nav-link text-white" asp-area="" asp-controller="JobDetail" asp-action="Create">Create Post</a></li>
                                            <li> <a class="nav-link text-white" asp-area="" asp-controller="JobDetail" asp-action="Index">View Post</a></li>
                                        </ul>
                                    </li>
                                }
                                <li class="nav-item">
                                    @*// <a class="nav-link text-white" asp-area="" asp-controller="Talent" asp-action="Index">Talent</a>*@
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="JobSearch">Talent</a>
                                    @*<a class="nav-link text-white " href="/home/index">Talent</a>*@
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Partners">Partners</a>
                                </li>

                            </ul>
                            <ul class="navbar-nav  flex-grow-1 float-xl-right ">
                                <li class="nav-item  dropdown">
                                    @if (string.IsNullOrEmpty(@Context.Session.GetString("roleid")))
                                    {
                                            <a class="nav-link text-white" asp-area="" asp-controller="AccountInformations" asp-action="Login">Login</a>
                                            @*<img src="~/Images/login.png" style="height:45px; width:45px" />*@
                                    }
                                    else if((@Context.Session.GetString("roleid") != null))
                                    {
                                        <a class="nav-link text-white" asp-area="" asp-controller="AccountInformations" asp-action="Logout"> @Context.Session.GetString("emailid"), Logout</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
</header>
    <div>
        <div>
            <partial name="_CookieConsentPartial" />
            <main role="main" @*class="pb-3"*@>
                @RenderBody()
            </main>
        </div>
    </div>
    <footer id="footer">
        <div class="p-0 m-0">
            <div id="push"></div>
            <div class="navBarImage row text-white text-center">
                <div class="col-md-4">
                    <div>
                        <a>PRIVACY POLICY</a><br />
                        <a>TERMS & CONDITIONS</a><br />
                        <a>ABOUT</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Internet Of Things Waterloo Region</h3>
                    <h4> Co-Creating The Future</h4>
                    <div>
                        <img src="~/Images/facebook.png" />
                        <img src="~/Images/InstagramIcon.png" />
                        <img src="~/Images/twitter.png" />
                        <img src="~/Images/Youtube.png" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <a>CONTACT</a><br />
                        <a>PARTNERS</a><br />
                        <a>NEWS</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
