@model IEnumerable<IOTWaterloo_JobBoard.Models.JobDetails>

@{
    ViewData["Title"] = "Index";
}
<div>&nbsp;</div>
<h4 class="text-center">Job Posting List</h4>
<hr />

<div class="container">
    <div>&nbsp;</div>
    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JobTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobtype)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaxSalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MinSalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PayPeriod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfPosition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobPostDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobExpiryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Compnay)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobTitle)</a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Category) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Location) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Jobtype) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.MaxSalary) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.MinSalary) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobDescription) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.PayPeriod) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.NumberOfPosition) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobPostDate) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobExpiryDate) </a>
                        </td>
                        <td>
                            <a class="text-black-50 text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Compnay.CompanyId) </a>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@


    <div>
        <div class="container-fluid">
            <form method="post" class="form-inline">
                @foreach (var item in Model)
                {
                    <div class="card bg-dark col-12 p-0">
                        <div class="card-header border rounded font-weight-bold text-justify p-4 ">

                            <a class="card-title text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobTitle)</a>
                            <button class="border border-white bg-dark float-right"> <a class="card-group text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> Go</a></button>
                            <table class="text-white">
                                <tr colspan="3">
                                    <th class="pr-5">
                                        <a class="card-text text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Location) </a>
                                    </th>
                                    <th class="pr-5">
                                        <a class="card-text text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Jobtype) </a>
                                    </th>
                                    <th class="pr-5">
                                        <a class=" card-text text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobPostDate) </a>
                                    </th>
                                </tr>

                            </table>
                            <a class="card-group text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobDescription) </a>

                        </div>
                    </div>
                    <br />
                }
            </form>
        </div>
    </div>
</div>