@*Author:Anjali Parikh*@
@model IEnumerable<IOTWaterloo_JobBoard.Models.JobDetails>

@{
    ViewData["Title"] = "Job Posting";
}
<div>&nbsp;</div>
<h4 class="text-center">Job Posting List</h4>
<hr />

<div class="container">
    <div>&nbsp;</div>
    <div>
        <div class="container-fluid">
            <form method="post" class="form-inline">
                @foreach (var item in Model)
                {
                    <div class="card bg-dark col-12 p-0">
                        <div class="card-header border rounded font-weight-bold text-justify p-4 ">

                            <a class="card-title text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobTitle)</a>
                            <button class="border border-white bg-dark float-right"> <a class="card-group text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> Go</a></button>
                            <table class="text-white">
                                <tr colspan="3">
                                    <th class="pr-5">
                                        <a class="card-text text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Location) </a>
                                    </th>
                                    <th class="pr-5">
                                        <a class="card-text text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.Jobtype) </a>
                                    </th>
                                    <th class="pr-5">
                                        <a class=" card-text text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobPostDate) </a>
                                    </th>
                                </tr>

                            </table>
                            <a class="card-group text-white text-decoration-none" asp-action="details" asp-controller="JobDetail" asp-route-id="@item.JobId"> @Html.DisplayFor(modelItem => item.JobDescription) </a>

                        </div>
                    </div>
                    <br />
                }
            </form>
        </div>
    </div>
</div>
<div>&nbsp;<br /> &nbsp;</div><div>&nbsp;<br /> &nbsp;</div><div>&nbsp;<br /> &nbsp;</div>