@model IEnumerable<IOTWaterloo_JobBoard.Models.CompanyDetails>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    &nbsp;
    <h4 class="text-center">Employer List</h4>
    <hr/>
</div>
<div class="container">
    <div class="container-fluid">
        <form method="post" class="form-inline">
            @foreach (var item in Model)
            {
                <div class="card bg-dark col-12 p-0">
                    <div class="card-header border rounded font-weight-bold text-justify p-4 ">

                        <a class="card-title text-white text-decoration-none" asp-action="details" asp-controller="CompanyDetail" asp-route-id="@item.CompanyName"> @Html.DisplayFor(modelItem => item.CompanyName)</a>
                        <button class="border border-white bg-dark float-right"> <a class="card-group text-white text-decoration-none" asp-action="details" asp-controller="CompanyDetail" asp-route-id="@item.CompanyId"> Go</a></button>
                        <table class="text-white">
                            <tr colspan="3">
                                <th class="pr-5">
                                    <a class="card-text text-white text-decoration-none" asp-action="details" asp-controller="CompanyDetail" asp-route-id="@item.CompanyId"> @Html.DisplayFor(modelItem => item.CompanyAddress) </a>
                                </th>
                                <th class="pr-5">
                                    <a class="card-text text-white text-decoration-none" asp-action="details" asp-controller="CompanyDetail" asp-route-id="@item.CompanyId"> @Html.DisplayFor(modelItem => item.CompanyCity) </a>
                                </th>
                                <th class="pr-5">
                                    <a class=" card-text text-white text-decoration-none" asp-action="details" asp-controller="CompanyDetail" asp-route-id="@item.CompanyId"> @Html.DisplayFor(modelItem => item.CompanyPostalCode) </a>
                                </th>
                            </tr>

                        </table>
                        <a class="card-group text-white text-decoration-none" asp-action="details" asp-controller="CompanyDetail" asp-route-id="@item.CompanyId"> @Html.DisplayFor(modelItem => item.CompanyLandLinePhoneNumber) </a>

                    </div>
                </div>
                <br />
            }
        </form>
    </div>
</div>